.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0px;
    background-color: #f4f4f4;
}

.book-list-container {
    padding: 20px;
    background-color: #f4f4f4;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
 
}