.home {
    text-align: center;
    padding: 10px 20px;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    min-height: 78vh;
  }
  
  .home__header {
    font-size: 3.5rem;
    color: #250521;
    margin-bottom: 20px;
    text-align: left;
    font-family: cursive;
  }
  
  .home__subheader {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 5px;
    font-family: cursive;
  }
  
  .home__cta {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #3498db;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .home__cta:hover {
    background-color: #2980b9;
  }