.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: rgb(84, 32, 133);
    color: #fff;
  
    h1 {
      font-size: 6rem;
      margin-bottom: 1rem;
      color: #d8d8d8;
      font-family: cursive;
    }
  
    img {
      width: 800px; /* Ajusta el ancho */
      height: auto; /* Mantiene la proporción */
      border: 5px solid #000; /* Borde negro */
      border-radius: 10px; /* Bordes redondeados */
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  }

  /* Centrar la imagen */
  .contenedor {
      text-align: center; /* Centrar horizontalmente */
      margin-top: 50px; /* Espaciado superior */
  }

  }